.login{
	float: right;
	display: inline-block;
		
}div ul.login a{
	color: #11cbd7!important;
}
div.navbar{
	margin-bottom: 0px;

}
.navbar .brand{
	    margin:0px;
	    padding: 10px 200px 10px 80px;
	   
	    color: black;
}
a{
	padding: 0px 0px;
	color: black;
}

div.nav{
	margin-left: 50px;
}
.navbar-inner {
	padding:20px;
		

	}
div.navbar-inner{
	color: black;
	background: white;
}
.navbar .nav > li > a {
	color: black;
}
}
span.brand{
	font-family: rubik,arial,sans-serif;
	  letter-spacing: 5px;


	
}
.navbar .brand{
	letter-spacing: 5px;
}
.btn dropdown-toggle{
	border: none;
}
.caret{
	 vertical-align: baseline;
}
li{
	display: inline-block;
}
ul.login{
	    margin: 0 0 0px 25px;
}
.input-append p {
	display: inline-block;
}

div.contain-img-form{
	margin:250px 250px ;
	color: #fff;
}

  img.big-img-position{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.secondPart{
	text-align: justify;
	margin-top:500px;
}
.fifth-part{
	margin-top:80px;
}
.fifth-part h3{
	margin-top:40px;
}
div.col{
	width:500px;
	margin-left: 80px;
	margin-top: 200px;


}

.secondPart h3{
	color: #11cbd7;
}

button.btn {
	height: 50px;
	width: 180px;
}
input.span2{
	height: 40px;
	width: 180px;
}
.contain-img-form h3{
	text-align: center;
}
.contain-img-form p{
	text-align: center;
}
.contain-img-form button{
	text-align: center;
}
img {
    position: relative;
    left: 0px;
    top: 0px;
   
}
div.col{
	margin: 0px;
	display: inline-block;
	margin-left: 70px;
	padding: 15px;
}
.secondPart div.row{
	margin: 0px 0px;
}
div.col h3{
	    font-family: rubik,arial,sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    	color: #11cbd7;
    	    font-size: 40px;

}
.icon4col .col {
	width:15%;
	margin-top: 15px;
	margin-left:90px;
}
i.far.fa-address-book{
	font-size: 60px;
}
i.fas.fa-user-graduate{
		font-size: 60px;
}
i.fas.fa-archive{
	font-size: 60px;
}

a.color{
	color: #11cbd7;
}
img.size{
	height: 500px;
	width: 455.17px;

}

form.d-block.d-lg-flex.mb-4{
margin: 25% 25% 0% 25%;
background-color: #fff;


}
form div{
	display: inline-block;
}
input.form-control{
	padding: 0px;
	margin:0px;
	width: 182px;
	height: 36px;
	border: none;

}
select.form-control{
	margin: 0px;
	width: 182px;
	height: 38px;
	border: none;
}

element.style {
}
.site-hero .site-hero-inner {
    min-height: 750px;
    height: 100vh;
}
h2.heading.text-center.mb-4{
	color: #fff;
	font-family: rubik,arial,sans-serif;
    font-weight: 300;
}
.site-hero .btn{

	background: #11cbd7!important;
	}
	p.pbtn.py-3.px-5{
		background: #11cbd7!important;
	}
	.text-center.mb-5{
		color: #fff;
	}
	.btn.py-3.px-5{

		background: #11cbd7!important;
		color: white;
		width: 182px;
		height: 36px;
	}
	.search-submit.btn.btn-primary{

		background: #11cbd7!important;
	}
	form.fields.d-block.d-lg-flex{
		margin-top: 0px;
		width: 769.98px;
		height: 80px;
		padding: 20px;
	}
	input.search-submit.btn.btn-primary{
		width: 100px;
		height: 40px;
		border: none;
	}

element.style {
}
h2.heading.text-center.mb-4{
	width: 769px;
	height: 80px;
}
div.fields.d-block.d-lg-flex{
padding-top: 16px;
padding-bottom: 16px;
padding-left: 50px;

}
h2.heading.text-center.mb-4{
margin :10px 20px 0px 370px;
}
div.block-17{
	margin-top:200px;

}

form.d-block.d-lg-flex.mb-4 {
    margin: 0px 220px 0px 370px;
}
p.text-center.mb-5{
	margin-top: 15px;
}
.resize-div{
	margin-bottom: 0px;
}
.icon4col div.row{
	margin-top: 70px;
}


.sixthpart h3{
	color: #11cbd7;
}
.container{
	text-align: center;
	margin-top: 90px;
}
.navbar .container{
	margin-top: 0px;
	
}
.sixthpart .container{
	width: 559.98px;
	height: 202px;
}
.secondPart div.col h3{
	letter-spacing: 2px;
}
strong.number{
	font-size: 30px;
	color: #11cbd7;
}
.fas.fa-graduation-cap{
	font-size: 50px;
	color:#757575;
}
.spancolor{
	color:#757575;
}
.sixthpart{
	margin-top: 80px;
	margin-left: 50px;
}
.thumbnails{
	display: inline-block;
}
li.span4{
width: 400px;
padding-left: 10px;
}
.popular-section{
	margin-left: 0px;
}
.popular-section h3{
color: #11cbd7;
}
.teacher-section h3{
	color: #11cbd7;
	margin-top: 15px;
}
.partseven div{
	background-color: green;
	margin-left: 50px;
	height: 427px;
	width:345px;
	display: inline-block;
	padding: 15px;
}